<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SisReservasXReportesEndPoint">
          <security mode="Transport" />
        </binding>
        <binding name="SisReservasReportesEndPoint" />
        <binding name="SisReservasGestionEndPoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SisReservasCore/ServicioReportes.svc"
        binding="basicHttpBinding" bindingConfiguration="SisReservasReportesEndPoint"
        contract="ServicioReportes.IServicioReportes" name="SisReservasReportesEndPoint" />
      <endpoint address="http://localhost/SisReservasCore/ServicioGestion.svc"
        binding="basicHttpBinding" bindingConfiguration="SisReservasGestionEndPoint"
        contract="ServicioGestion.IServicioGestion" name="SisReservasGestionEndPoint" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
